.dropdown 
{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: px; 
}

input
{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    border-radius: px;
}

input[placeholer="input"]
{
    font-weight: 200;
}

.Inline 
{
    display: inline-block;
    margin-right: 10%;
}

.Container 
{
    flex: 1;
    background: rgb(245,245,245);

    width: 307.402px;
    height: 631.388px;
    border: 2px solid white;
    border-radius: 5%;
    padding: 35px;
    margin-right: 20%;
    margin-left: 5%;
}

.C_TW
{
    display: flex;  
    justify-content: space-between;
}

.AW_AH
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.TS_P
{
    display: flex;
    justify-content: space-between;
}
