

.LivePreview_Container{

    /* display: inline-block;
    flex: 1;
    /* height: 100vh; */
    /* width: 10%; */
    /*border: 10px solid black;
    margin-left: 30px;
    margin-right: 30px;
    width: 280.115px;
    height: 597.004px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.25); */

    padding-left: 16px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-right: 40px;
    width: 307.402px;
    height: 631.388px;
    flex-shrink: 0;
    border-radius: 28.864px;
    background: #2C2C2C;
    box-shadow: -1.6781489849090576px 0px 4.027557849884033px -2.517223834991455px #212121 inset, 0px -0.8390744924545288px 3.3562979698181152px 0px #212121 inset;
}

.Mobile_Screen{

    display: flex;
    padding: 15px;
    width: 275.115px;
    height: 595.004px;
/* flex-shrink: 0; */
border-radius: 23.395px;
background:rgb(184,184,184);
flex-direction: column;

justify-content: space-between;
/* margin-right: 15px; */
}

