#btnLeft
{
  background: white;
  padding: 3px;
  left: 150px;
  top: 150px;
  border: 5px solid white;
  border-radius: 3px;
  font-weight: 500;
}

.b1_2
{
  display: inline-flex; 
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.b3
{
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
}

.b4_5
{
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}


#btnRight
{ 
  border: 0.5px solid white;
  font-weight: 500;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #FFF;
}

#btnBtmR
{
  background: white;
  padding: 3px;
  right: 10px;
  bottom: 10px;
  border: 5px solid white;
  border-radius: 3px;
  font-weight: 500;
}

#btnBtmL
{
  background: white;
  padding: 3px;
  font-weight: 500;
  right: 10px;
  bottom: 10px;
  border: 5px solid white;
  border-radius: 3px;
}

#btnCenter
{
  background: white;
  padding: 3px;
  font-weight: 500;
  left: 150px;
  top: 150px;
  border: 5px solid white;
  border-radius: 3px;
}

.tooltip__container
{
  position: relative;
}

.tooltip 
{
  position: absolute;
  letter-spacing: normal;
  line-height: 1.42857143;
  color: #000;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: none;
  opacity: 1 !important;
}

 .tooltip.right
{
  margin-left: 5px;
}

.tooltip.left
{
  margin-left: -5px;
}

.tooltip.top
{
  margin-top: -5px;
}

.tooltip.bottom
{
  margin-top: 5px;
} 

.tooltip .tooltip-arrow
{
  margin: 0 auto;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

 .tooltip.right .tooltip-arrow
{
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.top .tooltip-arrow
{
  top: auto;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.left .tooltip-arrow
{
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  right: -5px;
  left: auto;
}

.tooltip.bottom .tooltip-arrow
{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* .tooltip .tooltip-arrow
{
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
} */

.tooltip .tooltip-inner
{
  max-width: 200px;
  min-width: 80px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
  /* margin-left: 100px; */
}
.tooltip.on 
{
  display: block;
}

.tooltip.off
{
  display: none;
}
