body 
{
  background: white;
  padding: 0px;

  font-family: 'Barlow';
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
}

.flex-container
{
  display: flex;
  padding: 80px;
  margin-bottom: 10px;
  margin-right: 50px;
}
